* {
    font-size: 16px;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

.GMLogo {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 285px;
    height: 85px;
    color: #DFDFDF;
    /*background-repeat: no-repeat;
     background-size: 61px 36px;
     background-image: url(/ui/images/leftTopLogo.png);
     background-position: 34px 6px;*/
    background-color: transparent;
    text-align: center;
    font-size: 51px;
    line-height: 85px;
}

.lockImg {
    position: absolute;
    display: block;
    left: 20px;
    top: 1px;
    width: 19px;
    height: 22px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/ui/images/lock.png);
}

.unlockImg {
    position: absolute;
    display: block;
    left: 20px;
    top: 1px;
    width: 19px;
    height: 22px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/ui/images/unlock.png);
}

.left_box {
    float: left;
    width: 770px;
    border-radius: 10px;
    margin: 20px;
    height: 550px;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.5);
    background: #f9f8f8;
}

.flowCaption {
    list-style: none;
    margin: 10px;
    font-size: 18px;
    color: #37c25e;
    overflow: hidden;
    zoom: 1;
    padding-bottom: 5px;
    height: 30px;
    position: absolute;
}

.flow {
    position: absolute;
    border: 1px solid #006666;
    border-radius: 4px;
    font-size: 16px;
    width: 130px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #282828;
}

.flow:hover {
    -moz-box-shadow: 3px 3px 10px rgba(29, 23, 23, .6);
    -webkit-box-shadow: 3px 3px 10px rgba(29, 23, 23, .6);
    box-shadow: 3px 3px 8px rgba(29, 23, 23, .6);
    cursor: hand;
    color: #48c284;
}

pre {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    margin: 0 0;
    font-size: 13px;
    box-sizing: border-box;
    border-width: 0px;
    /*white-space: normal;*/
    text-decoration: inherit;
    overflow: hidden;
    padding-left: 4px;
    line-height: 26px;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#szerp {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 285px;
    padding-top: 85px;
    padding-bottom: 75px;
    overflow: hidden;
}

#topBaner {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 85px;
    width: 100%;
    background-color: rgb(35, 38, 46);
    z-index: 200;
}

#bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 75px;
    width: 100%;
    padding-left: 285px;
    background-color: #d5d5d5;
    text-align: center;
}

#copyRight {
    height: 24px;
    font-size: 12px;
    margin-top: 16px;
}

#contactUs {
    height: 24px;
}

#contactUs span {
    display: inline-block;
    font-size: 12px;
    margin: 0 10px;
}

.exitDiv {
    position: relative;
    float: right;
    width: 110px;
    height: 85px;
    line-height: 85px;
    color: #E5E5E5;
    cursor: pointer;
    padding-right: 40px;
    text-align: right;
    font-size: 18px;
}

.exitDiv:hover {
    color: #B4B4D5;
}

.exitPng {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 33px;
    left: 0px;
    background-image: url(/ui/images/Exit-white.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.setDiv {
    position: relative;
    float: right;
    width: 70px;
    height: 85px;
    line-height: 85px;
    color: #E5E5E5;
    cursor: pointer;
    text-align: right;
    font-size: 18px;
    margin-right: 50px;
}

.setDiv:hover {
    color: #B4B4D5;
}

.setPng {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 33px;
    left: 0px;
    background-image: url(/ui/images/set-white.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.msgDiv {
    position: relative;
    float: right;
    width: 70px;
    height: 85px;
    line-height: 85px;
    color: #E5E5E5;
    cursor: pointer;
    text-align: right;
    font-size: 18px;
    margin-right: 50px;
}

.msgDiv:hover {
    color: #B4B4D5;
}

.msgPng {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 33px;
    left: 0px;
    background-image: url(/ui/images/msg-white.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.docPng {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 30px;
    background-image: url(/ui/images/document-white.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.youjt {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    top: 25px;
    right: 25px;
    background-image: url(/ui/images/youjt-white.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.xiajt {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    top: 25px;
    right: 25px;
    background-image: url(/ui/images/youjt-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg);
}

.sysText {
    position: absolute;
    display: block;
    font-size: 18px;
    left: 70px;
    top: 20px;
}

#sysTree {
    position: absolute;
    width: 285px;
    top: 0px;
    left: 0px;
    background: #545454;
    height: 100%;
    padding-top: 85px;
    z-index: 150;
}

.sysItem {
    position: relative;
    background: #545454;
    min-height: 65px;
    width: 285px;
    font-size: 18px;
    color: #F1F1F1;
    cursor: pointer;
}

.sysItem:hover {
    background: #757575;
}

.sysMask {
    position: relative;
    background: transparent;
    height: 65px;
    width: 285px;
}

.sysItem .sysMask {
    border: 1px solid #5a5a5a;
    border-width: 0px 0px 2px 0px;
}

.modItem {
    position: relative;
    background: #676767;
    min-height: 65px;
    width: 285px;
    font-size: 18px;
    color: #F1F1F1;
    cursor: pointer;
}

.modItem .sysMask {
    border: 1px solid #6d6d6d;
    border-width: 0px 0px 2px 0px;
}

.modItem .docPng {
    left: 70px;
}

.modItem .sysText {
    left: 110px;
}

.modItem:hover {
    background: #757575;
}

.leftSysSelect {
    background: #43b1a3 !important;
}

#content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.kTabs {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
    z-index: 105;
    box-shadow: 1px 1px 4px rgba(85, 85, 85, 0.5);
}

.kTabitem {
    position: relative;
    float: left;
    height: 30px;
    font-size: 13px;
    line-height: 27px;
    margin: 0px 10px;
    padding: 0px 6px;
    list-style: none;
    cursor: pointer;
}

.ktabitem .kClose {
    display: none;
}

.kTabitem:hover {
    background-color: #ffffff;
    color: #73C689;
    box-shadow: inset 0px -2px 0px #73C689;
}

.kTabitem:hover .kClose {
    display: inline-block;
}

.kTabitem-select {
    color: #45bd78;
    box-shadow: inset 0px -2px 0px #73C689;
}

.kTabitem-select .kClose::before, .kTabitem-select .kClose::after {
    background-color: #4F8289;
}

.kTabPage {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    overflow: auto;
}

.kTabPage-select {
    display: block;
}

.kClose {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    overflow: hidden;
    cursor: pointer;
}

.kTabClose {
    margin-left: 3.8px;
}

.kClose::before, .kClose::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: #000;
}

.kClose::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kClose::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kCellControl {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 5px;
    height: 100%;
    background-color: inherit;
    z-index: 5;
}

.kDownArrow {
    position: absolute;
    bottom: 8px;
    right: 3px;
    width: 0;
    height: 0;
    top: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #dddddd;
    cursor: pointer;
}

.kDownArrow:hover {
    border-top: 10px solid #000000;
}

.kSpanDatalist {
    position: absolute;
    height: 18px;
    font-size: 13px;
    line-height: 11px;
    letter-spacing: 3px;
    background: #ffffff;
    padding: 0px 1px 0px 5px;
    top: 2px;
    right: 2px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #5CC888
}

.kSpanSearch {
    cursor: pointer;
    line-height: 28px;
    cursor: pointer;
    font-size: 12px;
}

.kDateInteval {
    display: inline-block;
    width: 15px;
    font-size: 13px;
    position: absolute;
    line-height: 26px;
    border: 1px solid #99BBE8;
    border-width: 1px 0px;
}

.kCommonButton {
    position: relative;
    display: inline-block;
    padding: 3px 20px;
    margin: 5px 5px;
    line-height: 24px;
    font: 13px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor: pointer;
    border-radius: 2px; /*边框圆角*/
    color: #202020;
    border: 1px #00ccff solid;
    background-color: #ffffff;
    transition: all 0.6s ease;
}

.kCommonButton:hover {
    border: 1px #fb903a solid;
    color: #fb903a;
}

.kCommonButton:active {
    animation: btClick 1s linear;
    /* Firefox: */
    -moz-animation: btClick 1s linear;
    /* Safari 和 Chrome: */
    -webkit-animation: btClick 1s linear;
    /* Opera: */
    -o-animation: btClick 1s linear;
}

@keyframes btClick {
    0% {
        color: #202020;
        border: 1px #00ccff solid;
    }
    100% {
        color: #fb903a;
        border: 1px #fb903a solid;
    }
}

/* Firefox */
@-moz-keyframes btClick {
    0% {
        color: #202020;
        border: 1px #00ccff solid;
    }
    100% {
        color: #fb903a;
        border: 1px #fb903a solid;
    }
}

/* Safari 和 Chrome */
@-webkit-keyframes btClick {
    0% {
        color: #202020;
        border: 1px #00ccff solid;
    }
    100% {
        color: #fb903a;
        border: 1px #fb903a solid;
    }
}

/* Opera */
@-o-keyframes btClick {
    0% {
        color: #202020;
        border: 1px #00ccff solid;
    }
    100% {
        color: #fb903a;
        border: 1px #fb903a solid;
    }
}

.kDzDivButton {
    position: relative;
    display: inline-block;
    padding: 3px 20px;
    margin: 5px 5px;
    line-height: 24px;
    font: 13px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor: pointer;
    border-radius: 2px; /*边框圆角*/
    color: #202020;
    border: 1px #00ccff solid;
    background-color: #ffffff;
    transition: all 0.6s ease;
    float: right;
}

.kbutton {
    position: relative;
    border-style: none;
    display: inline-block;
    padding: 3px 20px;
    margin: 5px 5px;
    line-height: 24px;
    color: #202020;
    font: 13px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    cursor: pointer;
    border: 1px #B5B5B5 solid;
    -webkit-box-shadow: inset 0px 0px 1px #fff;
    -moz-box-shadow: inset 0px 0px 1px #fff;
    box-shadow: inset 0px 0px 1px #fff; /*内发光效果*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; /*边框圆角*/
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#E8E8E6), to(#EFEDE9));
    background-image: -webkit-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -moz-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -ms-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -o-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%); /*颜色渐变效果*/
}

.kbutton:hover {
    background-color: #cac3cb;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#cac3cb), to(#fef7f8));
    background-image: -webkit-linear-gradient(top, #cac3cb 0%, #fef7f8 100%);
    background-image: -moz-linear-gradient(top, #cac3cb 0%, #fef7f8 100%);
    background-image: -ms-linear-gradient(top, #cac3cb 0%, #fef7f8 100%);
    background-image: -o-linear-gradient(top, #cac3cb 0%, #fef7f8 100%);
    background-image: linear-gradient(top, #cac3cb 0%, #fef7f8 100%);
}

.kNoneButton {
    color: #A0A0A0;
}

.kNonebutton:hover {
    cursor: auto;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#E8E8E6), to(#EFEDE9));
    background-image: -webkit-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -moz-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -ms-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: -o-linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%);
    background-image: linear-gradient(top, #E8E8E6 0%, #EFEDE9 100%); /*颜色渐变效果*/
}

.kGroupBtn {
    display: inline-block;
}

.kGroupBtn ul {
    display: none;
    list-style: none;
    position: absolute;
    padding-left: 0px;
    margin: 0px;
}

.kGroupBtn:hover ul {
    display: block;
}

.kGroupBtn .kbutton {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.kbutton .kDownArrow {
    position: relative;
    display: inline-block;
    bottom: 0px;
}

.kNone {
    display: none !important;
}

.kgrid {
    position: relative;
    font-size: 13px;
    letter-spacing: -9px;
    padding-bottom: 5px;
}

.kDjCaption {
    position: absolute;
    letter-spacing: normal;
    left: 15px;
    z-index: 10;
    background-color: #F1F3F0;
    padding: 0px 3px;
    font-size: 14px;
}

.kLineMiddle {
    position: absolute;
    top: 49%;
    height: 1px;
    width: 100%;
    background-color: #6394BC;
}

.kLineDashed {
    position: absolute;
    top: 49%;
    height: 1px;
    width: 100%;
    border: 1px dashed #6394bc;
    border-width: 1px 0px 0px;
}

.kCell {
    position: relative;
    display: inline-block;
    border: 1px solid #6587B5;
    letter-spacing: normal;
    text-align: left;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: inherit;
    font-size: 13px;
    line-height: 28px;
    background-color: #ffffff;
}

.kCell-noedit {
    background-color: #EFEFEF;
}

.kLineCell {
    display: inline-block;
    border: 1px solid #99BBE8;
    border-width: 1px 0px 0px 0px;
    height: 1px;
    position: absolute;
}

.kDGCell {
    display: inline-block;
    position: relative;
    border: 1px solid #EFEFEF;
    border-width: 0px 1px 0px 0px;
    padding: 0px 5px;
    letter-spacing: normal;
    text-align: center;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: inherit;
    font-size: 13px;
    line-height: 28px;
}

.kRowNo {
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.kDataDiv .kGridRow:first-child .kDGCell {
    border-top: 0px !important;
}

.kDataDiv {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kLineVercital {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 0px;
}

.kDGheaderRow {
    position: relative;
    height: 28px;
    z-index: 10;
}

.kGridRow {
    position: relative;
    height: 25px;
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border: 1px solid #eeeeee;
    border-width: 0 0 1px 0;
    width: 100%;
}

.kGridRow {
    background-color: rgb(235, 236, 237);
}

.kDataGridCell {
    position: absolute;
    height: 100%;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    overflow: hidden;
    font-size: 13px;
    line-height: 24px;
    padding: 0px 5px;
    text-align: center;
}

.kDataGridLeftTopArea {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 28px;
    background-color: #5cc888;
    border-width: 0px;
    z-index: 3;
}

.kLeftTopDgSelectCol {
    left: 0px;
    width: 50px;
    cursor: pointer;
}

.kLeftTopDgRowNo {
    left: 50px;
    width: 50px;
}

.kLeftTopDgSelect {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: none;
}

.kDataGridSelect {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 6px;
    left: 18px;
    border: 1px solid #999999;
    cursor: pointer;
    background: transparent;
}

.kSelectImage {
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-image: url(/ui/images/greenSelect.png);
}

.kGridRow:hover {
    background-color: rgb(236, 237, 238);
}

.kLastGridRow {
    border-bottom: 1px solid #C1C1C1
}

.kRowSelect {
    background: #a4b5da !important;
}

.kRowSelect .kDGCell {
    background-color: #a4b5da;
}

.kDGCellHeader {
    border: 1px solid #b1b1b1;
    border-width: 0Px 1px 0px 0px;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: -webkit-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -moz-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -ms-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -o-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: linear-gradient(top, #F3F2F2, #C0BFBF);
}

.kDGCellHeader:hover {
    background-color: #a4b5da;
    background-image: none;
    opacity: 0.8;
}

.kBackRow {
    position: absolute;
    border-width: 0px;
    height: 28px;
    width: 100%;
    background-image: -webkit-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -moz-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -ms-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: -o-linear-gradient(top, #F3F2F2, #C0BFBF);
    background-image: linear-gradient(top, #F3F2F2, #C0BFBF);
}

.kBackRow:after {
    clear: both
}

.kFooterRow {
    position: absolute;
    border-width: 0px;
    height: 28px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 50;
    border-top: 1px solid #CCCCCC;
    background-color: #EFEFEF;
}

.kMustSpan {
    position: absolute;
    display: inline-block;
    margin-left: -6px;
    top: -6px;
    color: red;
}

.kSearchProgress {
    position: absolute;
    display: none;
    top: 10px;
    right: 5px;
    height: 16px;
    width: 300px;
    background: #e8e8e8;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 8px;
    font-size: 6px;
    line-height: 16px;
    text-align: center;
    transition: all 2s ease;
}

.kSearchProgressText {
    position: absolute;
    font-size: 12px;
    z-index: 1;
    margin-left: -50px;
}

.kProgressGreen {
    display: inline-block;
    position: absolute;
    left: 0px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(69, 189, 120);
    z-index: 0;
}

.kDataCellText {
    position: relative;
    display: inline-block;
    text-align: right;
    height: 100%;
    overflow: hidden;
    text-decoration: inherit; /*用于定义下划线*/
    font-size: 13px;
    line-height: 28px;
    padding-right: 3px;
    width: 88px;
}

.kDataInput {
    position: absolute;
    display: inline-block;
    top: -4px;
    width: 150px;
    height: 25px;
    outline: none;
    border: #999999 1px solid;
    border-width: 0 0 1px 0;
    background: transparent;
    font-size: 13px;
    padding: 6px 0 0 4px;
}

.kDataInput:focus {
    border: #fb903a 1px solid;
    border-width: 0 0 1px 0;
}

.kDataInputNoEdit {
    position: absolute;
    display: inline-block;
    top: -4px;
    width: 150px;
    height: 25px;
    outline: none;
    border: #999999 1px solid;
    border-width: 0 0 1px 0;
    color: #6c6c6c;
    font-size: 13px;
    padding: 6px 0 0 4px;
    overflow: hidden;
}

.kDataGridInput {
    position: absolute;
    display: inline-block;
    background: transparent;
    padding: 0 4px;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid #fb903a;
    font-size: 13px;
    text-align: inherit;
}

.kDataGridInput:focus {
    z-index: 2;
}

.kDataGridEditImage {
    position: absolute;
    width: 10px;
    height: 12px;
    right: 2px;
    top: 6px;
    background-image: url(/ui/images/edit.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.kHeaderCellText {
    position: absolute;
    height: 28px;
    background-color: #5cc888;
    color: rgb(255, 255, 255);
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #F9F9F9;
    border-image: initial;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    line-height: 28px;
}

.kLastCell {
    border-width: 1px 1px 1px 0px;
}

.kdjRow {
    position: relative;
    border: 1px solid #99BBE8;
    border-width: 0px 0px 0px 1px;
    height: 28px;
}

.kMask {
    position: absolute;
    background-color: #e6ebf0;
    opacity: 0.1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 90;
}

.kDataList {
    position: absolute;
    margin: auto auto;
    min-height: 600px;
    width: 750px;
    background-color: #FDFDFD;
    z-index: 10;
    box-shadow: 0px 0px 6px 3px rgba(154, 149, 149, 0.8);
    border-radius: 2px;
}

.kDataListMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: none;
}

.kDzBtn {
    color: #2C7ABA;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin: 5px 3px;
}

.kDzBtn:hover {
    color: #438FCD;
}

.kPage {
    position: relative;
    display: none;
    padding: 28px 10px 10px 10px;
    width: 100%;
    /*min-width: 1315px;*/
}

.ktopPage {
    display: block;
}

.kDsTabHeader {
    position: relative;
    display: inline-block;
    height: 100%;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}

.kDsTabHeaderSelect {
    color: #fb903a;
}

.kDsTabSplit {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    top: 4px;
    width: 1px;
    height: 18px;
    background: #fb903a;
}

.kDjPage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6;
    width: 100%;
    height: 100%;
    padding: 28px 10px 10px 10px;
    display: none;
    background: #ffffff;
    overflow-y: auto;
}

.kMxPage {
    display: none;
    margin-top: 5px;
}

.kShow {
    display: block;
}

.topWcols {
    display: inline-block;
    min-width: 800px;
    height: 100%;
    background-color: inherit;
    padding: 20px;
}

.searchBtns {
    display: inline-block;
    float: right;
    margin-right: 20px;
    padding-top: 20px;
    background-color: inherit;
}

.searchGrid {
    cursor: auto;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 8px #333333;
    height: 500px;
    overflow: hidden;
}

.searchDesc {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #99BBE8;
    min-height: 38px;
    margin-top: 10px;
}

.kEditor {
    display: none;
    resize: none;
    padding: 0px;
    border: 1px solid #202020;
    border-width: 0px 0px 0px 0px;
    padding-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    letter-spacing: normal;
    font-size: 13px;
    margin: 0;
}

.kDzData {
    border: 1px solid #9ACCFB;
    background-color: white;
    text-align: left;
    letter-spacing: normal;
    overflow: auto;
    display: none;
    position: absolute;
}

.kDzData li {
    list-style-type: none;
    letter-spacing: normal;
    font-size: 13px;
    height: 17px;
    overflow: hidden;
}

.khighlight {
    background-color: #9ACCFB;
}

.kLoadingDiv {
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
}

.kLoading1, .kLoading2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: kLoading 2.0s infinite ease-in-out;
}

.kLoading2 {
    animation-delay: -1.0s;
}

@keyframes kLoading {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

.kRefresh {
    position: absolute;
    width: 22.86px;
    height: 20px;
    right: 88px;
    top: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/ui/images/refresh.png);
    cursor: pointer;
}

.kCell-noedit .kCellControl {
    display: none;
}

.kPrintHead {
    margin: 15px auto 5px auto;
    z-index: 501;
    height: 50px;
    background-color: #ffffff;
}

.kPrintPage {
    position: relative;
    margin: 5px auto;
    z-index: 501;
    background-color: #ffffff;
}

.kPrintContent {

}

.kPrintContent::after {
    display: block;
    height: 10px;
    width: 100%;
    background-color: #ffffff;
}

.kPrintContent div {
    display: inline-block;
    font-family: SimSun;
    font-size: 11pt;
}

.kPrintGridCell {
    letter-spacing: normal;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.kPrintNode pre {
    position: relative;
    height: auto;
    width: auto;
}

.kCenter {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    min-height: 155px;
}

.kAlertBtn {
    display: inline-block;
    height: 33px;
    width: 68px;
    background: #FFFFFF;
    color: black;
    margin-right: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    line-height: 33px;
    border: solid #E1E1E3 1px;
}

.kTreeItem {
    position: relative;
    left: 15px;
}

.cursorPointer {
    cursor: pointer;
}